[2017-04-19 13:27] thomasbritton opened #3 "Install from NPM"
## Problem Description
You only list yarn as the only place to install from when it's available on npm: https://www.npmjs.com/package/react-move

[2017-04-19 13:58] tannerlinsley commented on #3
I've added it to the readme :) Thanks!

[2017-04-19 13:58] #3 closed

[2017-04-19 17:22] wilomgfx commented on #3
@thomasbritton of course its available on NPM :p. Where do you think yarn pulls packages ;)

[2017-04-19 17:37] derekperkins commented on #3
I think that's obvious to yarn users, but to someone using npm that may have only heard about yarn, it's not obvious.

[2017-04-19 20:03] richthornton opened #5 "No Typescript type definitions"
## Problem Description
Currently there aren't any Typescript type definitions for this library.

[2017-04-19 20:03] richthornton commented on #5
I should add: Is this something you'd be open to adding to your library? I would be more than happy to open a PR and add the type definitions if it's something you're open to.

[2017-04-19 20:19] tannerlinsley commented on #5
Sure!  Keep in mind, I’m optimizing the library right now and adding some
features here and there. As long as you’re good with that, go for it!

On Wed, Apr 19, 2017 at 2:03 PM richthornton <notifications@github.com>
wrote:

[2017-04-19 22:23] richthornton commented on #5
Sounds great! I'll open a PR for it tomorrow.

On Wed, 19 Apr 2017 at 21:19, Tanner Linsley <notifications@github.com>
wrote:

[2017-04-21 07:54] codepunkt opened #6 "Animate page transitions or unmounted to mounted component"
Is it possible to animate page transitions or, generally speaking, unmounted to mounted component?

Would be great to have examples!

[2017-04-21 13:02] tannerlinsley commented on #6
Yes you can! I'll cook some up asap.
On Fri, Apr 21, 2017 at 1:54 AM Christoph Werner <notifications@github.com>
wrote:

[2017-04-21 20:45] tannerlinsley commented on #6
This might help.  Its untested, but it *should* work, possibly with some tweaking, but it's 99% of the way there I think.

Using React-Move with React-Router:
https://gist.github.com/tannerlinsley/b8bf1e54515a11e5758ec36c8e4c5b59

[2017-04-23 14:47] grahammendick opened #7 "Doesn’t Work on React Native"
Thanks for React Move. It’s exactly what I’ve been looking for. Looks like it will fix all the problems I was having with React Motion. The only problem is it doesn’t work with React Native yet. Here are the two problems that are standing in its way, along with suggested fixes.

## Transform Error
You can’t start up a React Native project that imports React Move because you get a Transform Error t

[2017-04-23 19:37] tannerlinsley commented on #7
These should be simple to fix. I'll make a release tomorrow :)

[2017-04-24 15:10] tannerlinsley commented on #7
Fixed in https://github.com/tannerlinsley/react-move/releases/tag/v1.1.5 :)

[2017-04-24 15:10] #7 closed

[2017-04-24 15:13] tannerlinsley commented on #6
As for animating a single component from unmounted => mounted => unmounted, you must approach it the same way react-motion does by using `<Transition />`. You first feed it an empty data list. Then you add a single item to the list (which represents the component you wish to render), and then when you wish to animate an unmount, you must remove that item from the list.  This should accomplish all

[2017-04-24 15:13] #6 closed

[2017-04-24 15:13] tannerlinsley commented on #5
Any progress on this?

[2017-04-24 21:05] richthornton commented on #5
Sorry for the delay on this 😟, I've just opened a PR for it

[2017-04-24 21:14] tannerlinsley commented on #5
Now available in version 1.1.6

[2017-04-24 21:14] #5 closed

[2017-04-26 07:15] coocooooo opened #9 "the Staggered Transition && Staggered Group Transition in the storybook don't work as expect"
## Problem Description
when open the staggered transition, the browser no-response

## Storybook (https://react-move.js.org/?selectedKind=2.%20Demos&selectedStory=Staggered%20Transition&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel)

[2017-04-27 04:13] tannerlinsley commented on #9
This had to do with Prism code highlighting for some reason. I put all of the source code previews behind a button in the storybook, so it should be fixed now. No idea why it takes so long to parse the source code on those examples.

[2017-04-27 04:13] #9 closed

[2017-05-04 16:15] 0py commented on #6
@tannerlinsley @codepunkt Hi! I tried the Gist and the initial render of the route is animated, but not when switching routes. Can you please provide a complete example? @codepunkt Did you get this to work?

[2017-05-14 10:16] grahammendick opened #13 "Independent Transitions"
There’s a [brilliant feature](https://github.com/tannerlinsley/react-move/blob/269c80a151e9cf6edadf617b4d287c93a623eef8/src/Animate.js#L68) that `Animate` has but `Transition` doesn’t. You can have independent animations by setting `immutable` to false.

You can see what I mean with this [codepen example](https://codepen.io/anon/pen/ZKoddw?editors=0010). It has two `Animate` components both with a

[2017-05-20 01:39] MichaelOstermann opened #15 "Document onRest prop"

[2017-05-21 18:21] tannerlinsley commented on #13
That seems more like react-motion's API and you are right, Items should act independently from one another. The changes would be or tremendous, but If you would like to sketch it out, I would be happy to work on it with you.

[2017-05-21 18:23] tannerlinsley commented on #13
Technically speaking, I believe that an items progress should only reset when it's destination data changes via update. Does that sound right?

[2017-05-21 18:25] tannerlinsley commented on #15
I'll get on this.

[2017-05-21 18:25] #15 closed

[2017-05-21 19:02] grahammendick commented on #13
Yes, that sounds spot on! It would be nice if an item's duration and easing only reset on data changes. too.

[2017-05-21 19:17] tannerlinsley commented on #13
Yeah. Basically if the items destination changes, reset and recalibrate
everything pertaining to that item
On Sun, May 21, 2017 at 1:02 PM Graham Mendick <notifications@github.com>
wrote:

[2017-05-21 19:21] grahammendick commented on #13
Yep, that ticks all the boxes 👍

[2017-05-21 19:22] tannerlinsley commented on #13
Okay. 👌 do you feel comfortable drafting those changes? I will be pretty
straight forward until staggering. Even I get stuck there pretty easily.
On Sun, May 21, 2017 at 1:21 PM Graham Mendick <notifications@github.com>
wrote:

[2017-05-21 19:52] grahammendick commented on #13
I’ve got my own [navigation project](http://grahammendick.github.io/navigation/index.html) that kinda takes up all my time - thanks for asking though. I’m in the process of swapping out React Motion for React Move in the React Native plugin.

[2017-05-22 03:15] tannerlinsley commented on #13
Okay. I will get to it when I have some free time. Currently working a lot of react-table and react-charts.

[2017-05-23 16:40] tannerlinsley commented on #13
Implemented in #16

[2017-05-23 16:40] #13 closed

[2017-05-23 16:42] tannerlinsley commented on #13
This turned out to be a bit of a challenge, but I figured it out.  Each item now maintains its own progress and invalidation. So now, if you interrupt a Transition with new updates, only items that need to change their destination will update, leaving any remaining items to finish their previous transition with their original timing.

[2017-05-23 18:31] grahammendick commented on #13
Thanks but I think it’s only halfway there. It fixed the first of my codepen examples but it’s broken the second one. Have a look at the [weird behaviour of the second example](https://codepen.io/anon/pen/dWexMp?editors=0010) to see what I mean

[2017-05-23 18:43] tannerlinsley commented on #13
I'll look into it
On Tue, May 23, 2017 at 12:31 PM Graham Mendick <notifications@github.com>
wrote:

[2017-05-25 13:15] tannerlinsley commented on #13
@grahammendick Its now fixed :) https://codepen.io/anon/pen/dWexMp?editors=0110

[2017-05-25 14:28] grahammendick commented on #13
Great work! Don't you need to do the same for the easing?

[2017-05-25 14:29] tannerlinsley commented on #13
…. yeah haha.

[2017-05-25 16:01] tannerlinsley commented on #13
Fixed.  Along with some cool enhancements.  You'll probably want to look at the newly created props `getDuration` and `getEasing` ;)

[2017-05-25 18:04] grahammendick commented on #13
Very classy! Thanks for doing such a great job.
I'll get back in touch when I release [Navigation with React Move.](http://grahammendick.github.io/navigation/index.html)

[2017-05-25 18:42] tannerlinsley commented on #13
What is the primary difference between your Navigation component and React
Router v4?

On Thu, May 25, 2017 at 12:05 PM Graham Mendick <notifications@github.com>
wrote:

[2017-05-25 20:16] grahammendick commented on #13
Navigation is the data-first router. You concentrate on what data you want to pass and don’t worry about your routes until the end. Take a look at this [counter example](https://codepen.io/anon/pen/oWVOrd?editors=0010). There’s no URLs in sight, right? Just typed data - **the count is passed as a number, not a string**.

Once your app’s up and running you can change the URLs to be whatever you wan

[2017-05-26 19:22] grahammendick commented on #13
Any reason you're not calling `onRest` in `Transition` component anymore? I was relying on it being called 😞

[2017-05-26 19:32] tannerlinsley commented on #13
My bad. I'll add it back in on both components
On Fri, May 26, 2017 at 1:22 PM Graham Mendick <notifications@github.com>
wrote:

[2017-05-26 22:08] tannerlinsley commented on #15
`onRest` is now available on both `Animate` and `Transition` components :)

[2017-05-26 22:11] tannerlinsley commented on #13
@grahammendick It's back now. Available for both `Animate` and `Transition` and finally documented :)  `Animate.onRest` is simply a callback, but `Transition.onRest` will give you the item and its key that came to rest.

[2017-05-27 08:10] grahammendick commented on #13
Hmmm....`onRest` in `Transition` component is incorrectly called all the time now. It used to be behind a `wasAnimating` check so that it was only called when it really came to rest.

I think each item should have a `wasAnimating` flag on it, much like each one now has a `duration` and `easing`?

[2017-05-27 14:05] tannerlinsley commented on #13
Yeah
On Sat, May 27, 2017 at 2:10 AM Graham Mendick <notifications@github.com>
wrote:

[2017-05-27 16:26] cusxio commented on #6
@tannerlinsley

would love to see an example for this!

[2017-05-29 08:24] MichaelOstermann commented on #15
Awesome, thanks! =D

[2017-06-03 12:32] grahammendick commented on #13
Hey @tannerlinsley, just checking this `onRest` issue is still on your radar

[2017-06-03 13:58] tannerlinsley commented on #13
Its released! Check the documentation.
On Sat, Jun 3, 2017 at 6:32 AM Graham Mendick <notifications@github.com>
wrote:

[2017-06-10 16:07] grahammendick commented on #13
Sorry, been away for a while. I've added an [`onRest` with a `console.log` to the second example](https://codepen.io/anon/pen/jwqExR?editors=0011). It should only log twice, but it logs v many times instead.

[2017-06-16 12:19] cusxio opened #20 "how to measure before animating with `Transition` ?"
Hello thank you for this library, been using it to create some components, working well so far.

## Problem Description

I'm trying to use `Transition` to create a drop down menu.

To position and animate the drop down menu properly, I need to measure the width and height of the element.

How can I do this with in `react-move` ?

[code]

[2017-06-21 12:49] dnecklesportfolio opened #22 "types of animation it can do"
This is not an issue but I had a question:

react-move do an animation like this: https://twitter.com/jevakallio/status/876237685320450050

I couldnt tell

[2017-06-21 16:18] tannerlinsley commented on #22
Absolutely

[2017-06-21 16:18] #22 closed

[2017-07-20 21:45] chasedeanda opened #23 "Any way to get the current data index in Transition update?"
## Problem Description
The Transition update method is providing data and the key, but I need to know which index it is at for conditional styling.

[code]

## Steps to Reproduce
1. Supply third arg to update method

## System Information
* **Browser & Browser Version:** Chrome
* **Node Version:** 7.10.0
* **OS Version:** Mac Sierra
* **NPM Version:** 4.2.0
* **Yarn Version:** 0.23.4

[2017-07-21 18:01] chasedeanda commented on #20
Were you able to find a workaround for this?

[2017-07-24 16:45] chasedeanda commented on #23
@tannerlinsley Any update on this? I'm having to combine this package with Resonance to achieve what I need. It would be great to just move over to using react move alone. Thanks!

[2017-07-24 23:26] tannerlinsley commented on #20
You would likely need to put it in a type of wrapper component that is invisible or overflow hidden, measure the dimensions of the element, then apply the transition.

[2017-07-24 23:26] #20 closed

[2017-07-24 23:27] tannerlinsley commented on #23
This is an interesting problem, since `update` and similar methods are run before the actual render.  It might take some ingenuity to figure this out.  I'll look into this asap.

[2017-07-26 22:57] chasedeanda commented on #23
Hey thanks for the response. I actually figured out a better way to accomplish what I needed so don't worry about it. Just map over the data and I have my index:

[code]

[2017-07-26 22:57] #23 closed

[2017-09-08 19:04] chasedeanda opened #25 "Old docs?"
### Problem or feature description
I am using v1.5.4 and I need to reference the old docs for `Animate`. I can see that the old Resonance site has been updated to be React-Move, but the `Animate` component has changed and I need to reference the old version. Is that kept anywhere?

[2017-09-08 19:05] #25 closed

[2017-09-08 19:05] tannerlinsley commented on #25
https://github.com/react-tools/react-move#documentation

[2017-09-20 01:50] kevinleeTCA opened #26 "Animation is not smooth on Safari"
### Problem or feature description
I got a list of columns to render, and hooked up react-move to do animation when a column is deleted. Only animating the `width`, `marginLeft` and `marginRight` of the column, then when one column is deleted, the other will slide from right to left.

It is very smooth on chrome and firefox, but not on safari, you can see the sluggish movements.

### Steps to repr

[2017-09-20 03:28] sghall commented on #26
Hey there.

Is it actually dropping frames if you profile it in Safari? Be helpful to see a profile of the animation.

Because you're not animating lots of elements (if I understand correctly) and it's just a few props it likely not a animation performance issue. There's some layout/recalc differences in Safari that can cause problems and be difficult to track down without looking at all the style

[2017-09-20 04:21] kevinleeTCA commented on #26
@sghall Thank you very much for the immediate feedback, We found the reason, it is actually our problem, since we add `webkitTransform: "translate3d(0, 0, 0)"` to all elements in our `index.css`, which is used for fix sticky header issue. This will actually interrupt animation.

We move `webkitTransform: "translate3d(0, 0, 0)` to the places of the sticky header container, and then the problem solv

[2017-09-20 13:54] sghall commented on #26
That's great.  Glad you found the issue!  Cheers.

[2017-09-20 13:54] #26 closed

[2017-09-23 18:32] ekatzenstein opened #27 "Key Accessor function should have an index (incrementer) value as second argument"
I may be missing something, but it'd be very convenient to have an index value for the key accessor function.

[2017-09-23 18:42] sghall commented on #27
Hey.  Good point.  I like this idea.  Just need to pass in "i" here...

https://github.com/react-tools/react-move/blob/master/src/NodeGroup/NodeGroup.js#L93

You want to do a PR?  Otherwise,  I'll add it in to the batch of updates I'm doing.

[2017-09-23 18:48] ekatzenstein commented on #27
Here ya go: https://github.com/react-tools/react-move/pull/28

[2017-09-25 23:36] sghall commented on #27
Released!

[2017-09-25 23:36] #27 closed

[2017-10-05 21:36] JamesMcMahon opened #29 "No typescript definitions for version 2"
Typescript definitions were present for version 1 (as of https://github.com/react-tools/react-move/pull/8) but are now gone.

Originally called out in https://github.com/react-tools/react-move/issues/5. But I'd like to re-open for the new version.

[2017-10-05 22:17] sghall commented on #29
Hey.  I don't use typescript but it would be nice to support it.  You want to do a PR for this?

[2017-10-08 22:05] JamesMcMahon commented on #29
I don’t know when I will get around to it, but I’ll leave the issue open and someone else can pick it up if they beat me to it.

[2017-10-09 22:12] ekatzenstein opened #30 "TickGroup"
Why was TickGroup removed from Resonance for React-Move? Is there an alternative for setting up axes for data visualization?

[2017-10-10 04:23] sghall commented on #30
Yeah,  good call.  We removed the TickGroup to keep the API for react-move very focused.  It's probably better to put it into your codebase (or offer it as a third-party component).  The react-move API is just Animate for single items and NodeGroup for an array of items.

In earlier versions of resonance that component was much more valuable, but now it's really just a simple wrapper around NodeGr

[2017-10-10 12:18] ekatzenstein commented on #30
Thanks @sghall. More examples would be great...would also help this awesome library to get more attention. I'm still on the search for a library that will replace d3's dom components (i.e.: d3.axis, as mentioned here: https://hackernoon.com/how-and-why-to-use-d3-with-react-d239eb1ea274) without having to create a faux dom, but am aware that's a tall order.

[2017-10-10 12:34] techniq commented on #30
@ekatzenstein Take a look at https://github.com/hshoff/vx

[2017-10-10 13:43] ekatzenstein commented on #30
Wow, hadn't seen this one. Thanks!

[2017-10-10 13:46] techniq commented on #30
@ekatzenstein I've been kicking it around lately, along with react-move, and have had great success with them so far.  You can see using the 2 together from my collapsible tree example under the [in the wild](https://github.com/hshoff/vx#in-the-wild) section.  I've also seen [data-ui](https://github.com/williaster/data-ui) experimenting with the 2 as well.

[2017-10-10 13:51] ekatzenstein commented on #30
Beautiful, that was my follow-up question: combining the two. Thanks @techniq

[2017-10-15 13:59] techniq opened #31 "Zoomable Sunburst example"
I am trying to reproduce the [Zoomable Sunburst](https://bl.ocks.org/maybelinot/5552606564ef37b5de7e47ed2b7dc099) d3 example using [vx](https://github.com/hshoff/vx) and react-move.  So far I've been able to reproduce the example without transitions ([static example](https://codesandbox.io/s/141k95prk7)) but I'm having difficulty understanding how to incorporate react-move to perform the transitio

[2017-10-15 15:29] sghall commented on #31
Hey there.  Awesome.  I did a zoomable sunburst example in the old resonance repo (where react-move came from).  It uses redux to store the state, but you can abstract that out for your own purposes.

[Online demo](https://sghall.github.io/resonance/#/redux-examples/webpack-sunburst)

[Source code](https://github.com/sghall/resonance/tree/master/docs/src/routes/reduxExamples/webpackSunburst/compon

[2017-10-15 15:50] sghall commented on #31
Just looking at my example...might not be super clear.  It uses [reselect](https://github.com/reactjs/reselect) to update the derivative data.

All the logic for updating the data is [here](https://github.com/sghall/resonance/blob/master/docs/src/routes/reduxExamples/webpackSunburst/module/index.js).  I made some optimizations that are annotated in the code.

[2017-10-15 16:25] techniq commented on #31
Thanks for this, it looks exactly what I'm trying to do..  I've got to run to my boy's soccer game now, but I'll digest this example tonight.  I should be able to break it down and figure it out, but if I have any questions, I'll followup in here (and close the issue)

[2017-10-15 20:57] techniq commented on #31
So it looks like this example is using a d3-timer directly to tween the scales...
[code]
https://github.com/sghall/resonance/blob/master/docs/src/routes/reduxExamples/webpackSunburst/components/index.js#L55-L67

I guess I was expecting this to be encapsulated by  resonance/react-move.

I've been thinking that maybe this is possibly by nesting an `Animate` around a `NodeGroup` -
 `Animate` to trans

[2017-10-16 01:44] sghall commented on #31
Yeah, great idea.  I think wrapping an `Animate` around the `NodeGroup` that would stream the scale values would be a much cleaner way to do this with react-move.  Be interested to see a working version.

[2017-10-16 01:52] techniq commented on #31
I'm in the process of trying to get this to work now.  Making some headway,
but I'll share a link once I get it a little further along.  Thanks for the
input.

On Sun, Oct 15, 2017 at 9:44 PM Steve Hall <notifications@github.com> wrote:

[2017-10-16 03:36] techniq commented on #31
Well I got it working... https://codesandbox.io/s/v3x0yw11q5

The performance is fairly poor right now so it will need some digging into.  I saw in your webpack sunburst example you had made some optimizations ([1](https://github.com/sghall/resonance/blob/master/docs/src/routes/reduxExamples/webpackSunburst/components/Sunburst.js#L23-L35), [2](https://github.com/sghall/resonance/blob/master/docs/s

[2017-10-16 22:51] techniq commented on #31
Perf was caused by the dev version of React.  Deployed to now, which builds with prod React, is much smooter - https://csb-v3x0yw11q5-qsarbnjcst.now.sh/

I'd like like your feedback about passing functions in the previous comment

[2017-10-17 00:27] sghall commented on #31
Totally agree on passing functions in `Animate`.  That's the way it was before and got changed in the switch to react-move.  You want to do a PR?  It's a pretty simple change.

I'll take another look at this later but off the top of my head it seems like you'd get a boost from only calling descendants once per update.  That creates a new array each time you call it. Less garbage collection at leas

[2017-10-17 00:55] techniq commented on #31
Thanks for the feedback :).

I did a quick profile on the before, moving up only `data.descendants()`, and moving all node props (and yes, only the `d` prop is needed in the Animate loop)...

## Before any changes
![image](https://user-images.githubusercontent.com/177476/31641380-39a65310-b2b2-11e7-8276-1456dd361ca3.png)

## Moving only `data.descendants()` above `Animate`
![image](https://user-im

[2017-10-17 04:10] sghall commented on #31
Yeah,  I guess that amounts to removing one traversal of the tree per frame and, relative to the amount work being done by react and the browser, it just doesn't matter much.  Oh, well.

I think we want to be consistent with the `NodeGroup` API.  So it would be the first one...
[code]
That would be simple I think, just changing start, enter, update and leave to be functions that return an object.

[2017-10-17 16:51] #30 closed

[2017-10-18 01:55] techniq commented on #31
@sghall - Thanks for the quick turnaround on the PR merge and publish.  I updated my example to take advantage of the function to build the scale interpolates in `update={() => {...})` and I am much happier with the code structure and readability.  I also ported the [zoombale icicle](https://bl.ocks.org/mbostock/1005873) example.

Sunburst
- [CodeSandbox](https://codesandbox.io/s/v3x0yw11q5)
- [Pr

[2017-10-18 01:55] #31 closed

[2017-10-27 17:59] sghall commented on #29
Released Typescript support in 2.4.0!  Let me know if there are any issues.

[2017-10-27 17:59] #29 closed

[2017-11-12 20:46] souporserious opened #33 "Physics based animations"
### Problem or feature description
First, just wanted to say what a wonderful library this is and thank you for making it! I'm coming from using animated and react-motion and have read the comparison, but was curious if there are any plans for physics based animations? Would it possible to allow other libraries like [wobble](https://github.com/skevy/wobble) to be plugged in? I'd be willing to help

[2017-11-12 20:54] tannerlinsley commented on #33
Have you tried using https://GitHub.com/TannerLinsley/Springer? It can
achieve a physics-based-like animation in time based animation
environments. The actual technical difference between time based and
physics based animation logic is the way the system handles interruption.
On Sun, Nov 12, 2017 at 1:46 PM Travis Arnold <notifications@github.com>
wrote:

[2017-11-13 01:40] souporserious commented on #33
Yes I have :) sorry, I should have mentioned that. I'd like to be able to have better interruptible animations. Is there any way to do have both options in react-move or would it take too much rearchitecting?

[2017-11-13 01:43] tannerlinsley commented on #33
That's a question for @sghall
On Sun, Nov 12, 2017 at 6:40 PM Travis Arnold <notifications@github.com>
wrote:

[2017-11-13 01:44] sghall commented on #33
@souporserious I think it would be great to support these types of animations.  It would require some work, but I believe it's possible we could make some tweaks and support both styles. If you want to do a little leg work on this, that would be awesome.  Would definitely would welcome a PR.

Off the top of my head. I think for physics based animations (you may actually know better than I do) you

[2017-11-13 11:51] souporserious commented on #33
Awesome, sounds good! I only know a little bit about how it works, but I'm up for the challenge. I'll work on a PR as soon as I get some time. Thanks for the info!

[2017-12-07 20:39] chasedeanda opened #34 "Support for flexDuration in v2?"
### Problem or feature description
In v1 we could specify `flexDuration` so that if lots of animations were triggered at once, it would stagger them to prevent lag. Has this been removed in v2? I see the new timing object, but I'm wondering if there is an automatic way of handling rather than staggering them myself in the timing object.

### Versions (only needed for problems)

- React-Move: 2.6.0

[2017-12-08 16:55] sghall commented on #34
Version 2.0 is a complete rewrite and there is no concept of `flexDuration` now.  Animations are managed by [d3-timer](https://github.com/d3/d3-timer) which has some really clever optimizations to handle thousands of concurrent interpolations efficiently.  I would try updating your animations without staggering them first.

[2017-12-08 21:21] chasedeanda commented on #34
@sghall Thanks for the reply and great work on version 2 of this package, it's working really well and is a lot friendlier to use!

I am updating in the ballpark of around 150 elements at the same time and it didn't perform well at all. The animations started to get very jumpy. I had to manually stagger different elements and that seemed to work okay. Is there anything you guys expose from d3-time

[2017-12-08 23:21] sghall commented on #34
Right on.  Thanks!

Hmmm, I would say you are not going to get 150 elements to animate smoothly in React.  It's just not going to do it...not with react-move or react-motion or any other lib.  There's just too much overhead with the VDOM stuff.  The timer will handle thousands of tweens but it has to call setState on each frame and React will just choke.

The React team toyed around with ideas to

[2018-01-11 22:27] denkristoffer opened #35 "<Animate /> state becomes out of sync with the show prop when it's toggled too quickly"
### Problem
If you quickly toggle the `show` prop a few times, the `<Animate />` component becomes unable to render the state that it should. I'm guessing it happens if the previous transition hasn't been allowed to finish before toggling should start a new transition?

### Steps to reproduce
Click the button in this example to toggle state. At some point the black box should stop rendering when t

[2018-01-11 23:06] sghall commented on #35
The update prop determines what will happen on an interrupt.  So in this case something like this...
https://codesandbox.io/s/8zvxqpl8p8

Try that out.

[2018-01-11 23:16] denkristoffer commented on #35
Man, I've read the documentation site so many times and all these times I've just ignored `update` because I thought it was unnecessary for my use case! I apologise for the issue 😕

And thanks for `react-move` it's a joy to work with!

[2018-01-11 23:39] sghall commented on #35
No worries.  It's a little hard to grok, but it gives you some flexibility.

[2018-01-11 23:39] #35 closed

[2018-01-13 04:12] loganpowell opened #36 "Tutorials?"
As [mentioned](https://medium.com/react-tools/react-move-2-0-resonance-joins-react-move-to-make-your-animations-even-better-2279d95cefaf) there are so many choices when trying to decide on an animation library to learn. You have a big advantage due to your merged forces and cross-platform appliance. I just wish there were more tutorials for how to use this. That's one of the key reasons there are

[2018-01-16 03:39] #34 closed

[2018-01-16 03:52] sghall commented on #36
Yeah, docs are tough. I have been curious about how many people realize that you can click to reveal the code on all the examples(?)  You think that is obvious?

Is that not, in your mind, an effective way to show people how to work with the library?  What do you think would make an effective tutorial?

Do you have any specific questions or can you point out something that you find difficult to un

[2018-01-16 03:56] sghall commented on #33
@souporserious did you have a chance to get into this?  Was wondering of this seemed viable after actually exploring it.

[2018-01-16 08:40] souporserious commented on #33
I have not unfortunately 😞

[2018-01-16 15:28] loganpowell commented on #36
Thank you for your response! Yes, I realized I could click to reveal the code for each example (thank you for that!), which I did, but I'm a complete beginner to animation and not familiar with D3 at all.

Just speaking for myself: It would be nice to have a step-by-step example that lays out each of the features of React-Move so that you cover all your features just once (no less, no more), but s

[2018-01-16 15:33] loganpowell commented on #36
Sorry, I didn't fully address your response. As to:

For now, I'm wondering if `react-move` will work with another library I'm working with `[react-snap](https://github.com/stereobooster/react-snap)` . It's a prerenderer that basically takes a snapshot - in a full browser - of each page (with a relative link) in your app.

I've had some success using [ReactTransitionGroup and Animated](https://git

[2018-01-25 04:26] amaidah opened #37 "Requesting assistance on figuring out how to get grid animation working"
### Problem or feature description
I am trying to get a basic grid animation working. I can't seem to figure it out, I've created a codesandbox with an example.

I am looking to create a board with 'tiles' that animate from start to end location as the data-group changes, very similar to this example here: https://react-move.js.org/#/documentation/node-group

Please view the codesandbox here:
http

[2018-01-25 05:57] sghall commented on #37
You could do this with react-move but you would have to calculate the layout for the grid items on each update.  Just swapping classes is not going to work.

You might want to look at:
https://github.com/STRML/react-grid-layout

[2018-01-25 21:16] amaidah commented on #37
Hmm I see. Thanks for the quick reply.

Can you expand on what you mean by calculating the grid?

I will take a look at `react-grid` thanks.

[2018-01-26 03:58] sghall commented on #37
You could use absolute positioning and calculate the new coordinates for each cell on each update and let react-move interpolate from the old layout to the new one.

You can see how that works for an x, y coordinate in this example (second example on the NodeGroup docs page):
https://github.com/react-tools/react-move/blob/master/docs/src/routes/documentation/NodeGroup/Example2.js#L92

Uses the CSS

[2018-03-30 16:03] tannerlinsley opened #38 "Allow setting the default timing at multiple levels"
### Feature description
Would love to be able to set the default `timing` object.

Example:
[code]

[2018-04-12 13:20] AndreasFaust opened #40 "Dynamically change State-Transformations based on a Node's current State"
Thanks for this awesome library! This is not an issue, rather I am looking for some advice, that I couldn't get from the docs.
I want to determine the State-Transformations in the Leave-Function based on the Nodes current State. In my concrete case I have a Full-Width-Slideshow, where the Slides come from the right and leave to the left side. But when the Enter-Animation is interrupted the incomin

[2018-04-13 02:55] sghall commented on #40
Hey there.  Hmmm...interesting question.  I think I understand what you mean.  Seems to me you have to store the information about whether to reverse the transition for that key higher up.  I don't think you can reliably get at that info in the enter/leave props. So maybe store the info in the component that contains the NodeGroup (I think you're using NodeGroup).

Seem like if you know what keys

[2018-04-13 15:33] AndreasFaust commented on #40
Thank you very much for the quick response.
What I aim to do is a **routing transition**. As keys I use urls. So there is always just one active node entering and simultaneously the previous node leaving (and all the other previous nodes, which are still leaving, if you have an animation duration that is long enough). But if the entering is interrupted, I want the next (which now turns previous) p

[2018-04-19 11:36] AndreasFaust commented on #40
Everything worked out just fine. Thank you!

[2018-04-20 05:17] #40 closed, assigned to nobody

[2018-05-24 20:28] AdamGerthel opened #41 "Can't get NodeGroup to update"
### Problem or feature description
I'm struggling with getting a NodeGroup to properly update even though the data array changes and the component is re-rendered. I must have gotten something small really wrong but I can't for the life of me figure it out.

### Steps to reproduce (only needed for problems)
I've made a sample where I've reproduced the issue: https://codesandbox.io/s/z2102pqmn4

###

[2018-05-24 21:10] AdamGerthel commented on #41
Closing after getting help from @tannerlinsley : https://codesandbox.io/s/0xw5vvmlyv

[2018-05-24 21:10] #41 closed

[2018-06-06 10:08] jeremypeters commented on #36
@sghall FYI, personally I didn't realize that clicking the demo headers revealed the code - I couldn't understand why you would have demo but not display the code.

[2018-06-07 20:50] kelly-tock commented on #29
seeing from the example code provided on the site TS issues with the jsx style attribute. had to break out the `any` escape hatch. any ideas?

[2018-08-08 22:19] markov00 opened #42 "Force update animation"
### Problem or feature description
I've started using this library for animate svg chart elements (a scatterplot) and it's great.
I now have the case that I need to animate my chart either when data change (and this is the standard working behaviour) and either when my chart size change (this is what I cannot find a good way for that).
As in your example `Simple Bars`, you pass the original data a

[2018-08-08 22:26] markov00 opened #43 "Any plans for migrate React deprecated lifecycle methods"
### Problem or feature description
I was just curious if you have any plans for migrate React 16.x  deprecated lifecycle methods?

I've seen that you are using `componentWillReceiveProps` in `Animate` and `NodeGroup`.

### Versions (only needed for problems)

- React-Move: 2.7.0

[2018-08-11 18:51] sghall commented on #42
Hey, yeah, totally doable.

React-move is listening for your data to change:

https://github.com/react-tools/react-move/blob/999927532ca5be90fc8a54656c41fa2d9b8848eb/src/NodeGroup/NodeGroup.js#L58

So just send a new data array with the new layout when you want to update.  For what you're trying to do, I wouldn't use the scales directly in NodeGroup component like the example. Do all the calculati

[2018-08-11 18:52] #36 closed

[2018-08-11 18:52] #37 closed

[2018-08-11 18:52] #33 closed

[2018-08-17 07:53] markov00 commented on #42
Ok, but what about animate an svg path?
Can I animate directly the `d` attribute passing a new, precomputed `d` path?

[2018-08-18 16:33] sghall commented on #42
Sure. Absolutely.  The value you are interpolating just gets handed off to [d3-interpolate](https://github.com/d3/d3-interpolate).

If the name of your key is "transform" it is interpolated as an SVG tranform:
https://github.com/d3/d3-interpolate#interpolateTransformSvg

Otherwise it goes to interpolate:
https://github.com/d3/d3-interpolate#interpolate

So if your value is a string path it will ge

[2018-08-20 07:54] markov00 commented on #42
Great thanks for the info.

[2018-08-20 07:54] #42 closed

[2018-09-06 02:50] vctormb opened #44 "Carousel example inside documentation"
### Problem or feature description
I'm learning on how to use React-Move, but I'm facing some difficults, like creating a photo gallery carousel.

Is it possible to create an example, like in [React Motion Gallery](http://chenglou.github.io/react-motion/demos/demo4-photo-gallery/).

I think that this is a very useful example to demonstrate, sliding things from right to left, and vice-versa.

[2018-09-07 03:14] sghall commented on #44
You absolutely could do this with react-move.   That demo is actually quite simple.  A total of ~80 lines.

https://github.com/chenglou/react-motion/blob/master/demos/demo4-photo-gallery/Demo.jsx

Anyone want to create a photo gallery demo?

[2018-11-12 18:29] amcdnl opened #45 "Disable Animations"
## Feature Request
I would like the ability to conditionally disable animations.

### Scenario
Run the animation on initial render and updates but then when a user is interacting w/ the chart, say via panning/zooming turn off animations for those updates. Right now I have a flag that will turn off duration/etc when that is happening but due to the queue system under the hood it lags a bit.

[code]

[2018-12-06 09:06] vijayst opened #46 "Problems with data display when using Animate"
### Problem or feature description
I am using Animate to show a hover state. I am passing in the data as one of the state param in the start prop. I update the data in the update prop after a delay. But the data that I am passing in via the update prop seems to translate the underlying data. For example, the text "White" appears as rgb(255, 255, 255).

### Steps to reproduce (only needed for probl

[2018-12-06 22:30] sghall commented on #46
Hey there.  Hmmm...I'm a little unclear on what the effect should be.  It's interpolating your data object, which is not what you want.  Can you put this in a CodeSandbox?  Be glad to take a look.

[2018-12-10 12:15] vijayst commented on #46
Thanks, Here is the [CodeSandbox](https://codesandbox.io/s/lx38nknj1z).

[2018-12-10 20:22] sghall commented on #46
How about something like this?
https://codesandbox.io/s/n60kqpq3m

[2018-12-12 04:32] vijayst commented on #46
Thanks @sghall . The limitation with the approach is that it does not animate from 1 to 0 while doing an update. Increased the animation duration to make it clearly visible - https://codesandbox.io/s/3yqwxvmv5m

I worked around this problem in another example by using NodeGroup instead of Animate.

[2018-12-12 05:07] sghall commented on #46
Ahh,  I see.  Right, if you use NodeGroup then it's just one element leaving and one entering, so you could get that effect.

[2018-12-12 10:04] vijayst commented on #46
I think Animate needs to capture data in a prop.

Let's say show=false and data becomes empty in the same step, the leave animation collapses immediately because of no data.

If I capture data in the initial state, then the update animation does not have the new data reflected as it is captured only in start.

If I add data to the state in update prop, Animate tries to do something with that data

[2018-12-27 02:14] wulucxy opened #48 "how to do nest animation like groupBar or stackBar"
### Problem or feature description

### Steps to reproduce (only needed for problems)

### Versions (only needed for problems)

- React-Move:
- React:
- Browser:

[code]

I can't get this work，what's wrong here?

[2019-01-11 04:51] vijayst opened #49 "package-lock.json seems to be incorrect"
### Problem or feature description
package-lock.json seems to be incorrect
See the error screenshot

### Steps to reproduce (only needed for problems)
nvm use 8
npm i

### Versions (only needed for problems)
latest source code

![screenshot 2019-01-11 at 10 20 52 am](https://user-images.githubusercontent.com/3457565/51013835-b356ef80-158a-11e9-9bde-efea15e32764.png)

[2019-01-11 05:38] vijayst commented on #49
Also, when I run `npm test`, I get this error:
![screenshot 2019-01-11 at 11 06 52 am](https://user-images.githubusercontent.com/3457565/51015176-2e230900-1591-11e9-9f13-dae1ad2ab6dc.png)

Will be happy to contribute to this repo if I get past the initial setup. Thanks.

[2019-01-12 11:09] vijayst commented on #43
@sghall I need this too. I can help in doing a PR if required. But it looks a bit difficult considering the use of setState in transitions. Thanks.

[2019-01-12 20:31] sghall commented on #49
Ok.  Yep, all the dev deps need to be updated.  I'm going to start working on this.  Thanks.

[2019-01-12 20:31] #49 closed

[2019-01-12 20:38] sghall commented on #43
Yep.   Going to start working on this.

[2019-01-18 03:19] sghall commented on #45
In React 16.8 you can call `componentWillDoWhatIWant`:

[code]

That will run a neural net on your FB photos and figure what you're trying to do. Much easier than mucking around with props and state.

LOL.  Just noticed this was from you @amcdnl.  Blowing the dust off this library.

In case anyone still needs the answer... if memory serves...if you just return the value (not in an array) it will s

[2019-01-18 07:05] #38 closed

[2019-01-18 07:06] sghall commented on #43
Ok.   Released in 2.9.0.  Try it out.  Let me know if there's any issues.

[2019-01-18 07:06] #43 closed

[2019-01-18 07:06] #45 closed

[2019-01-18 07:08] sghall commented on #46
Hey, this component just got an overhaul in 2.9.0 that was just released.  Try it out again and let me know if you still have issues.

[2019-01-18 07:08] #46 closed

[2019-01-18 07:09] sghall commented on #44
Unfortunately, it does not look like we have any takers on this. We just don't have the bandwidth to produce anymore demos.

[2019-01-18 07:09] #44 closed

[2019-01-18 07:12] sghall commented on #48
My apologies for the late response.  We just don't have the bandwidth to answer these types of questions unfortunately.  Have to focus on bugs and keeping the library up to date.

[2019-01-18 07:12] #48 closed

[2019-01-18 14:54] amcdnl commented on #45
@sghall - Haha yup - long time!

Thanks for the follow up!

[2019-01-21 08:45] sghall commented on #43
FYI. Had to push a 2.9.1 version with https://github.com/reactjs/react-lifecycles-compat to avoid breakage with older versions of react.  Bump to 3.0.0 if you're on 16.3.0 or later to get the version without the compat code in there.

[2019-03-05 08:56] dagda1 opened #54 "A simpler interface for react-move"
i've been having a playabout with react-move and I think we can simplify things down to the example on [this](http://www.typescriptlang.org/play/index.html#src=%0D%0Aexport%20type%20EasingFunction%20%3D%20(t%3A%20number)%20%3D%3E%20number%0D%0Aexport%20type%20Interpolator%20%3D%20(t%3A%20number)%20%3D%3E%20void%0D%0Aexport%20type%20Tween%20%3D%20()%20%3D%3E%20((t%3A%20number)%20%3D%3E%20void)%20%7

[2019-03-06 03:56] sghall commented on #54
I think react-move is too flexible to have meaningful defined types. To me, the most valuable thing has been you suggesting a way to allow the user to define their own types.  I don't know Typescript and had no idea that was even possible. That's what we should get out there, the built in types are going to fall short no matter what we do.

Here's what I think makes sense,  let the user supply the

[2019-03-06 08:52] dagda1 commented on #54
I think we are nearly on the same page, I don't think we need the `HashMap` indexer which basically cancels out all type safety and just let anything that is not `Config` be in the `State` type argument.

As far as namespaces go, is it always the case that you either don't have namespaces:

[code]

Or you do have namespaces:

[code]

But never:
[code]

If it is either you have namespaces or not th

[2019-03-06 08:55] dagda1 commented on #54
One deceptive thing about typescript and return types is you lose excess property checking on the return type of callbacks.

I came across this while trying to do this and wrote a blog post about [it](https://thesoftwaresimpleton.com/blog/2019/03/03/return-body-ts).  This can give the illusion of type safety with extra properties not being type checked.

[2019-03-06 13:18] sghall commented on #54
Great.

Just an FYI. On the namespaces, the examples you gave are **NOT** correct...
[code]
Should be...
[code]

You also absolutely could have a mixed case. That's why I made a mixed case the example in [the link I sent above](https://www.typescriptlang.org/play/index.html#src=%0D%0A%2F%2F%20These%20should%20be%20defined%20is%20Kapellmeister%0D%0A%0D%0A%2F%2F%20node%20state%0D%0Ainterface%20NodeS

[2019-03-06 13:40] dagda1 commented on #54
@sghall great, these are useful examples.

[2019-03-06 16:02] dagda1 commented on #54
@sghall I think there is no sane way of defining the namespace and object to have the same type in typescript currently.  I was well down the path of insanity there before I had a moment of sense.

If the user wants to use namespaces then they define that in their ts interface.

e.g.

No namespace:

[code]

Namespace

[code]

[Here is an updated version](http://www.typescriptlang.org/play/index.ht

[2019-03-06 19:00] sghall commented on #54
Yeah,  Typescript is just not made for this.

I think, what you sent is too opinionated to be the default and we seem to be going around in circles.  To me, I keep saying there's a separate "State" and "Config" type and you keep sending back ideas where there's just the "State" type because it fits the narrow case you're thinking about or because Typescript can't deal with more dynamic types (real

[2019-03-06 19:12] dagda1 commented on #54
the last example i sent fits all the examples in the readme and we are
going round in circles with your replies in capital letters of how i got
the examples wrong when it is your project.

my example does cover namespaces but for some reason you don’t see this.

i’m trying to help with limited knowledge of the project but i can do
without the impatience

On Wed, 6 Mar 2019 at 19:00, Steve Hall <no

[2019-03-06 19:17] sghall commented on #54
Yep.  This has become unproductive.  Sorry.  Not going to deal with it.

[2019-03-06 19:17] #54 closed

[2019-03-06 19:28] dagda1 commented on #54
you are an idiot

On Wed, 6 Mar 2019 at 19:17, Steve Hall <notifications@github.com> wrote:

--
Cheers

Paul Cowan

Cutting-Edge Solutions (Scotland)

blog:      http://thesoftwaresimpleton.com/
website: https://cutting.scot/

[2019-03-06 19:29] sghall commented on #54
Whoa.  Who the fuck do you think you're talking to?

[2019-03-06 19:31] tannerlinsley commented on #54
For posterity, @sghalls recommendations work just fine. It shouldn't be the expectation that users can rely 100% on the types of a library when the structure of those types can dynamically change due to user code. It's reasonable for React Move to provide types for the interfaces it can control and unfortunately that's the most reliability that one can gain. Once you (or any library) calls into us

[2019-03-09 21:24] dufferbrady opened #56 "'background' css style property expecting a number not a string"
### Problem or feature description
I think there seems to be an issues with when transitioning colors, mainly the background css style property. It seems to be expecting a number for this property rather than a string?

Could this be an issue with PropTypes?
### Steps to reproduce (only needed for problems)

### Versions (only needed for problems)

- React-Move:  5.2.1
- React: 16.8.4
- Browser:

[2019-03-09 22:01] sghall commented on #56
In the latest react-move you can set your interpolation how ever you like.  If you just want to have the interpolation found in earlier versions...**install d3-interpolate and pass an `interpolation` prop.**

This is how earlier versions worked with d3-interpolate.  But notice you could use any color interpolation library or custom function you want.
[code]

[2019-03-09 22:19] dufferbrady commented on #56
This solved the issue I was having perfectly. My animations are running very well now. Thanks for the help

[2019-03-09 22:19] #56 closed

[2019-03-21 06:54] vijayst opened #57 "Using NodeGroup with function components with Hooks does not update"
### Problem or feature description
I am using NodeGroup with function component with hooks. The update is not getting triggered.

[CodeSandbox](https://codesandbox.io/s/8485r2rx1j?fontsize=14)

### Steps to reproduce (only needed for problems)
The Linechart is animated with enter animation. However, on hovering over the circles, the update animation is not triggered. I expect the opacity to be 0.1

[2019-03-21 10:49] vijayst commented on #57
This is not a bug with NodeGroup. The data was not mutated, so the update transition was not triggered. Closing the issue.

[2019-03-21 10:49] #57 closed

[2019-07-29 19:27] craigmcginley commented on #48
+1 for nesting NodeGroup's

[2019-08-27 11:29] LimeWub commented on #35
Hey there, sorry for necro-posting but I seem to be having this exact same "issue".

My code is something along these lines:

[code]

When I spam-click the button that passes through the `active` prop the Animation goes out of sync, ie. `active === true` but component not visible.
I see it was suggested to use the `update` prop on the component but I'm not sure how to do it.

The codesandbox link

[2020-03-27 17:44] thebne opened #59 "Animate components seem to be dependent on each other"
### Problem or feature description
When animating orthogonal objects with `<Animate />`, I experienced something that looks like a dependency between the objects.

Here's a short animation of the bug - the easing function works completely differently when there's only one object at a time. Notice the short lag in the ease-out phase right when the new element slides in
![ezgif-4-f3a7232decbd](https

[2020-03-27 18:31] thebne commented on #59
Update: same thing happens when I use a `<NodeGroup />` to render all of them

[2020-04-01 23:35] meitalvtn opened #60 "Caching and events"
### Problem or feature description

1. When there are animations running in a NodeGroup, the internal animations list never gets cleaned up, which means if there are constantly animations on the screen then the old ones are "leaked" (aren't removed until all animations stop)

2. On the leave attribute, as more animations are added, the start event is called more and more times (that is, its fired

[2020-05-20 01:44] ekatzenstein opened #61 "React-Native animations"
Use this library a lot for web projects (thank you for making!) — curious about the claims for react-native use — I'm assuming that animations are not run on the UI Thread (and instead run on the JS Thread).

If that is the case, the library isn't applicable to most mobile animations needs. Just a suggestion, since it was a little confusing when I used it on a react-native project.

[2020-09-29 23:08] housseynCheriet commented on #61
Best explanation of easing function
https://www.selectionjs.com/animation

[2021-03-29 16:29] geohuz opened #70 "How to render animations with multiple stages"
Maybe this is a dumb question, I'm wondering how to transit color like react-spring:

[code]

I can't find a way to do this in react-move

[2021-03-29 17:58] geohuz commented on #70
I found the "interpolation" explaination in documention and that solved my problem.

[2021-03-29 17:58] #70 closed

[2021-05-12 12:22] andtos90 opened #73 "Peer dependency issue with npm 7"
### Problem or feature description
Using this package with npm v7 in a repository with Rect 17 will cause a peer dependency error. A suggested fix by @wildpow has been proposed in https://github.com/sghall/react-move/pull/71.

[2021-06-05 01:17] samuelgoldenbaum commented on #73
Can we please get this merged in as it breaking dependencies down the line. Thanks.

[2021-06-08 20:56] andtos90 commented on #73
@sghall missed the notifications. He will take a look soon

[2021-06-13 06:00] sghall commented on #73
The increased peer range was released in version `6.5.0` 👍  Please re-open this if you encounter any issues...

[2021-06-13 06:00] #73 closed

[2021-06-13 06:00] #60 closed

[2021-06-13 06:01] #61 closed

[2021-06-13 06:05] sghall commented on #59
Cleaning up these issues.  I've never seen anything that looks like what you're describing and it's hard to imagine how it would happen just given how the animation work.  If this is still a concern, re-open this issue and provide a code sandbox that demonstrates the issue and I'll take a look.

[2021-06-13 06:05] #59 closed

[2021-12-21 14:48] geohuz opened #76 "pause resume transition"
### Is it possible to have pause resume during transition?

For example, to have play, pause, resume button to control the animation.

[2022-05-02 02:41] wiryonolau opened #85 "How to continue to move to next position"
Hi from your example in [https://react-move-docs.netlify.app/demos/simple](https://react-move-docs.netlify.app/demos/simple)

The first animate in that page, it's toggle the x value  to either 200 or 0 when click.
How do I make it run another 200 instead of revert to 0 but base on click ?
If the inital position.left is 0 it become 200 on first click and 400 on second click and so on.

[code]

[2022-05-02 03:41] wiryonolau commented on #85
I come up with this, is this correct ?

[code]

[2022-06-28 14:29] e-katzenstein opened #88 "React 18 Compatability"
Note: This library won't work in dev [strict] mode with React 18. This is an issue on the React side. The issue is in Tailwind as well: https://github.com/tailwindlabs/headlessui/issues/80

I was hitting my head against a wall and just downgraded to React 17. That's my workaround for now.

[2022-08-13 19:03] ekatzenstein commented on #88
Another workaround is turn off "strict mode" for React.

[2022-11-08 21:23] e-katzenstein commented on #88
@sghall Just a heads up because I love react-move. Next v 13 requires React 18 at a minimum, so without fixing the issue above, will have to move onto another option.